* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(163px, 1fr) 5fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  background-color: rgb(4, 143, 189);
  grid-row: 1 / 3;
}

.material-icons{
    position: relative;
    top: 4px;
}

.sidebar li {
  list-style: none;
  font-size: 24px;
  color: white;
}

.header {
  background-color: white;
  grid-column: 2 / 3;
}

.main-content {
  background-color: lightgray;
}
